@charset "utf-8";

H1 {text-align: center;}

p {
	color: blue;
	font-weight: bold;
	text-align: center;
}
p2 {
	text-align: center;
}

img {
	width: 150px;
	height: 100px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

div {
	text-align: center;
}
