@charset "utf-8";

:root {
  --main-border-color: black;
}

@font-face {
	font-family: 'vcr-tape36.ttf';
	src: url(fonts/vcr-tape36.ttf);
}

h1 {
	border: 0px solid var(--main-border-color);
	text-align: center;
  font-family: 'vcr-tape36.ttf';
  font-size: 100px
}

div{

	border: 0px solid var(--main-border-color);
}

audio {
		border: 0px solid var(--main-border-color);
  display: block;
    margin-left: auto;
    margin-right: auto;
  font-family: 'vcr-tape36.ttf';


  }


section {
	border: 1px solid var(--main-border-color);
	height: 90vh;

}

.container{
	border: 0px solid var(--main-border-color);
	max-width: 700px;

	margin: auto;

	height: 90vh;
	display: flex;
	align-items:center;
	justify-content:center;
}
